Repository marblehands/checklist-component: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{json,md,html}": ["prettier --write"],
  "*.{css,scss}": ["stylelint --fix"]
}

feat: add html markup for the checklist component
  index.html
Due: prettier --write

feat: setup typography and colors variables and font styles
  styles/_mixins.scss
  styles/_typography.scss
  styles/_variables.scss
Due: stylelint --fix

feat: add font classes to markup
  index.html
Due: prettier --write

feat: add main layout styles
  styles/_mixins.scss
  styles/main.scss
Due: stylelint --fix

feat: add component layout and button styles
  index.html
  styles/_mixins.scss
  styles/_variables.scss
  styles/checklist.scss
  styles/main.scss
Due: prettier --write, stylelint --fix

feat: add badge styles, padding offsets, refactor styles
  .stylelintrc.json
  styles/_mixins.scss
  styles/_typography.scss
  styles/checklist.scss
Due: prettier --write, stylelint --fix

feat: add progress bar styles
  index.html
  styles/checklist.scss
Due: prettier --write, stylelint --fix

feat: set up pixel perfect styles
  styles/checklist.scss
Due: stylelint --fix

feat: adapt for mobile devices
  styles/_mixins.scss
  styles/checklist.scss
  styles/main.scss
Due: stylelint --fix

feat: replace favicon
  index.html
  public/favicon.svg
  public/vite.svg
Due: prettier --write

fix: fix styles calculation
  styles/checklist.scss
Due: stylelint --fix

chore: add vite config
  vite.config.js
Due: none

docs: add readme file
  README.md
  package.json
Due: prettier --write

feat: add bundle
  .gitignore
  README.md
  assets/index-BIwWKZWC.css
  favicon.svg
  index.html
Due: prettier --write, stylelint --fix
